<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages>
          <controls>
              <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
          </controls>
      </pages>

      <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" /><!-- 文件传送限制 -->
      <!--设置出现的.从客户端中检测到有潜在危险的 request.form 值。”的错误提示解决方案-->


      
      <customErrors mode="Off" />      
    </system.web>
  
  <connectionStrings>
    <add name="ConnString"
         connectionString="Data Source=qds106868529.my3w.com;        
         Initial Catalog=qds106868529_db; 
         
         User Id=qds106868529;
         
         Pwd=1301817765 "


         providerName="System.Data.SqlClient"
         />


    <!-- 一页显示多少数据-->
    
    <add name="PageSize"
         connectionString="8"
         />
    
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
